/*body {*/
    /*background: url(https://user-images.githubusercontent.com/30760624/29677453-fea2ccca-88af-11e7-916e-21f1b03ee384.png) repeat 0 0;*/
    /*margin: 60px auto;*/
    /*width: 70%;*/
/*}*/
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
header {
    border-bottom: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
body, html, main {
	height: 100%;
	background-color: aliceblue;
} 
.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
.cd-fixed-bg.cd-bg-1 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29732490-ae7e9afa-899d-11e7-94f1-802e0ff6e025.jpg");
}
.cd-fixed-bg.cd-bg-2 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29732512-c11dddd8-899d-11e7-9eb3-1f2458916c12.jpg");
}
.cd-fixed-bg.cd-bg-3 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29732535-d356d3b0-899d-11e7-86c3-584f94d8b88b.jpg");
}
.cd-fixed-bg.cd-bg-4 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29735815-c8f2a2e2-89b0-11e7-9a7b-f61684eadf86.jpg");
}
.cd-fixed-bg.cd-bg-5 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29735841-f8edd106-89b0-11e7-949d-b96592aba545.jpg");
}
.cd-scrolling-bg {
	min-height: 100%;
}
