/*body {*/
    	/*background: url(https://user-images.githubusercontent.com/30760624/29677453-fea2ccca-88af-11e7-916e-21f1b03ee384.png) repeat 0 0;*/
    	/*margin: 60px auto;*/
    	/*width: 70%;*/
/*}*/
nav ul, footer ul {
    	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    	padding: 0px;
    	list-style: none;
    	font-weight: bold;
}
nav ul li, footer ul li {
    	display: inline;
    	margin-right: 20px;
}
a {
    	text-decoration: none;
    	color: #999;
}
a:hover {
    	text-decoration: underline;
}
h1 {
	color: white;
    	font-size: 5em;
    	font-family:'Helvetica', 'Arial', 'Sans-Serif';
    	text-align: center;
	font-style: italic;
}
h2 {
    	color: white; 
    	font-size: 1.75em;
    	font-family: 'Helvetica', 'Arial', 'Sans-Serif'; 
    	text-align: center; 
	font-weight: 50;
}
p {
	color: white;
    	font-size: 1.25em;
    	line-height: 1.5em;
}
header {
    	border-bottom: 1px solid #d5d5d5;
    	font-size: .8em;
    	text-align: center;
}
footer {
    	border-top: 1px solid #d5d5d5;
    	font-size: .8em;
    	text-align: center;
}
div.transbox {
  	margin: 30px;
  	background-color: #000000;
  	opacity: 0.6;
  	filter: alpha(opacity=60); /* For IE8 and earlier */
}
ul.posts { 
	margin: 20px auto 40px; 
	font-size: 1.5em;
}
ul.posts li {
	list-style: none;
}
body, html, main {
	height: 100%;
	background-color: #111111;
} 
.cd-fixed-bg {
	min-height: 100%;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
.cd-fixed-bg.cd-bg-1 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29903919-37b79c88-8dbb-11e7-98ff-f6ab3388ef4f.jpg");
}
.cd-fixed-bg.cd-bg-2 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29903940-4e9476d8-8dbb-11e7-8a8b-38d910abddae.jpg");
}
.cd-fixed-bg.cd-bg-3 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29904124-298b919a-8dbc-11e7-862f-23c7042cf057.jpg");
}
.cd-fixed-bg.cd-bg-4 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29903951-5bcc9092-8dbb-11e7-8089-79a27396fc92.jpg");
}
.cd-fixed-bg.cd-bg-5 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29993043-8dfca516-8f5f-11e7-910b-712c85ca9dcc.jpg");
}
.cd-fixed-bg.cd-bg-6 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29993046-c7b68948-8f5f-11e7-865e-36993cfe99ef.jpg");
}
.cd-fixed-bg.cd-bg-7 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29993106-3cc88248-8f62-11e7-994d-ceda40612fd8.jpg");
}
.cd-fixed-bg.cd-bg-8 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29993114-7aa8863a-8f62-11e7-9d44-bf3e69d6d426.jpg");
}
.cd-fixed-bg.cd-bg-9 {
	background-image: url("https://user-images.githubusercontent.com/30760624/29993067-c6fc95aa-8f60-11e7-8c7a-aa2a105b1ebf.jpg");
}
.cd-scrolling-bg {
	min-height: 100%;
}
