<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<meta name="description" content="Joshua Lee's Website">
			<meta name="keywords" content="html website template>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/research">Research</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/1996leejoshua">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/1996leejoshua/">LinkedIn</a></li>
				<li><a href="https://www.facebook.com/1996joshualee">Facebook</a></li>
				<li><a href="https://www.instagram.com/joshoowa.lee/">Instagram</a></li>
				</ul>
			</footer>
		</body>
	</html>
