<!DOCTYPE html>
	<html>
		<head>
			<!-- Global Site Tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-104587238-1"></script>
			<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments)};
  				gtag('js', new Date());
  				gtag('config', 'UA-104587238-1');
			</script>
			<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
		</head>
		<body>
			<nav>
			<header>
	    		<ul>
				<!--Links to different pages of site-->
	        		<li><a href="/">HOME</a></li>
				<li><a href="/resume">RESUME</a></li>
	    		</ul>
			</header>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<!--Links to different sites that open up in new tab-->
	        		<li><a href="https://github.com/1996leejoshua" target="_blank">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/1996leejoshua/" target="_blank">LinkedIn</a></li>
				<li><a href="https://www.facebook.com/1996joshualee" target="_blank">Facebook</a></li>
				<li><a href="https://www.instagram.com/joshoowa.lee/" target="_blank">Instagram</a></li>
				</ul>
			</footer>
		</body>
	</html>
