<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% seo %}
		</head>
		<body>
			<nav>
			<header>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="https://github.com/1996leejoshua/1996leejoshua.github.io/files/1250873/Joshua.Lee.-.Resume.docx">Resume</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</header>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/1996leejoshua" target="_blank">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/1996leejoshua/" target="_blank">LinkedIn</a></li>
				<li><a href="https://www.facebook.com/1996joshualee" target="_blank">Facebook</a></li>
				<li><a href="https://www.instagram.com/joshoowa.lee/" target="_blank">Instagram</a></li>
				</ul>
			</footer>
		</body>
	</html>
